body{
    background-color: #acc3f2;
    margin: 10vw;
    font-family: 'Rajdhani', sans-serif;
}

header{
    display: flex;
    height: 5vw;
    justify-content: space-between;
    align-items: center;
}

i{
    color: #fafafa;
    font-size:x-large;
}

h2{
    color: #41286b;
}

.grid-container{
    display: grid;
    grid-template-columns: 353px 353px 353px;
    grid-gap:10px;
}

.grid-item-1{
    grid-column: 1/-1;
}

.grid-item-2{
    grid-column-start: 1;
    grid-column-end: 2;
}
  
.grid-item-3{
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-item-4{
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-item-5{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.grid-item-8{
    display: grid;
    grid-template-columns: 535px 535px;
    grid-gap:10px;
}

.grid-item-9{
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-item-10{
    grid-column-start: 2;
    grid-column-end: 3;
}